@import "tailwindcss";

body {
  background-color: #000;
  color: white;
  
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}


.hide-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}


.glowing-line {
  box-shadow: 0 0 2px #8A2BE2, 0 0 10px #8A2BE2, 0 0 15px #8A2BE2;
  background: #8A2BE2;
  animation: glow-pulse 2s ease-in-out infinite alternate;
}

@keyframes glow-pulse {
  from {
    box-shadow: 0 0 5px #8A2BE2, 0 0 10px #8A2BE2;
  }
  to {
    box-shadow: 0 0 10px #40E0D0, 0 0 15px #40E0D0;
  }
}

.glowing-dot-container {
  z-index: 10;
}

.glowing-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 0 5px #fff, 0 0 10px #8A2BE2;
  animation: glow-dot-pulse 2s ease-in-out infinite alternate;
  transition: all 0.3s ease;
}

.glowing-dot-container:hover .glowing-dot {
    box-shadow: 0 0 5px #fff, 0 0 10px #40E0D0, 0 0 15px #40E0D0;
}


@keyframes glow-dot-pulse {
    from {
        box-shadow: 0 0 5px #fff, 0 0 10px #8A2BE2;
        transform: scale(1);
    }
    to {
        box-shadow: 0 0 10px #fff, 0 0 15px #40E0D0;
        transform: scale(1.1);
    }
}

/* New class for the glassmorphism effect */
.glass-container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}